* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: auto;
}

form {
    background: transparent;
    width: 300px;
    height: 730px;
    padding: 0 200px;
    position: absolute;
    top: 0;
}

.center-form h1 {
    text-align: center;
    margin-bottom: 45px;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.textboxdiv {
    border-bottom: 2px solid white;
    position: relative;
    margin: 15px 0;
}

.textboxdiv input {
    background: none;
    border: none;
    outline: none;
    color: white;
    height: 30px;
    font-size: 20px;
}

button {
    transition: 0.5s;
    height: 25px;
    width: 100%;
    border: 2px solid white;
    outline: none;
    background: transparent;
    background-size: 200%;
    color: gray;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 2px;
    border-radius: 15px;

}

button:hover {
    box-shadow: 0 12px 16px 0 rgb(0, 255, 255), 0 17px 50px 0 rgb(255, 255, 255);

}

.backvideo {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .backvideo {
        width: 100%;
        height: auto;

    }
}

@media (max-aspect-ratio:16/9) {
    .backvideo {
        width: auto;
        height: 100%;
        ;

    }
}

.title h1 {
    text-align: right;
    font-size: 160px;
    color: white;
    margin: 75px;
    transition: 0.5s;
}

.title h1:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.bday {
    color: white;
    font-size: large;
    text-transform: uppercase;

}

input[type="date"] {
    background: transparent;
    position: absolute;
    padding: 15px;
    color: gray;
    border: 2px solid white;
    border-radius: 10px;
    height: 5px;
}

.gender {
    color: white;
    padding-top: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    font-size: 15px;
}

.radio {
    display: none;

}

.lable {
    padding: 0 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 15px;

}

.Qualification {
    color: white;
    padding-top: 5px;
    margin-top: 5px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    font-size: 15px;
}

input[type="submit"] {
    transition: 0.5s;
    height: 40px;
    width: 90px;
    border: 2px solid white;
    outline: none;
    background: transparent;
    background-size: 200%;
    color: gray;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 2px;
    border-radius: 15px;

}

input[type="submit"]:hover {
    box-shadow: 0 12px 16px 0 rgb(0, 255, 255), 0 17px 50px 0 rgb(255, 255, 255);
}

input[type="reset"] {
    transition: 0.5s;
    height: 40px;
    width: 90px;
    border: 2px solid white;
    outline: none;
    background: transparent;
    background-size: 200%;
    color: gray;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 2px;
    border-radius: 15px;

}

input[type="reset"]:hover {
    box-shadow: 0 12px 16px 0 rgb(0, 255, 255), 0 17px 50px 0 rgb(255, 255, 255);
}